.title {
    text-align: center;
    font-size: 3rem;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}